<div class="page">

  <div class="top-option">
    <admin-app-query (query)="onQuery($event)"></admin-app-query>
    <div class="top-right">
      <!-- <button class="add" nz-button nzType="primary" (click)="onUploadList()">
        <i nz-icon nzType="upload" nzTheme="outline"></i>
      </button> -->

      <button class="add" nz-button nzType="primary" (click)="onCreate()">
        <svg t="1632196096949" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"
          p-id="2890" width="16" height="16">
          <path
            d="M469.333 469.333h-384a42.667 42.667 0 1 0 0 85.334h384v384a42.667 42.667 0 1 0 85.334 0v-384h384a42.667 42.667 0 1 0 0-85.334h-384v-384a42.667 42.667 0 1 0-85.334 0v384z"
            p-id="2891" fill="#ffffff"></path>
        </svg>
      </button>
    </div>
  </div>

  <div class="content">
    <nz-table #sortTable [nzData]="UIModel.listOfData" nzTableLayout="fixed" [nzBordered]="true">
      <thead>
        <tr>
          <th *ngFor="let column of UIModel.listOfColumn" [nzSortFn]="column.compare" [nzWidth]="column.nzWidth"
            [nzSortPriority]="column.priority" [nzAlign]="'center'">
            {{ column.title }}
          </th>
          <th class="action" nzWidth='180px' nzRight>
            Actions
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of sortTable.data">
          <td *ngFor="let column of UIModel.listOfColumn" [nzWidth]="column.nzWidth" nzEllipsis
            [nzAlign]="column.nzAlign">
            {{data[column.key]}}
          </td>
          <td nzWidth='180px' nzRight>
            <admin-app-create-update-delete [disable]="{}" (create)="onCopyCreate(data)" (update)="onUpdate(data)"
              (delete)="onDelete(data)"></admin-app-create-update-delete>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>

<nz-modal [(nzVisible)]="isVisibleNzModal" [nzMaskClosable]="false" [nzMask]="false" nzTitle="Modal" nzOkText="Save"
  nzCancelText="Cancel" (nzOnOk)="handleOk()" (nzOnCancel)="handleCancel()" nzWidth="fit-content">
  <div class="nz-modal-content">
    <div>
      <div class="flex">
        <label class="cloum-item">
          <div class="title">
            账号(User Id) <span>*</span>:
          </div>
          <input class="input-content" nz-input placeholder="Basic usage"[disabled]="action ==='Update'"[(ngModel)]="UIModel.maintain.user_id" />
        </label>
        <label class="cloum-item">
          <div class="title">
            密码(Password) <span>*</span>:
          </div>
          <input class="input-content" nz-input type="password" [disabled]="action ==='Update'" placeholder="Basic usage" />
        </label>
      </div>

      <div class="flex">
        <div class="cloum-item">
          <div class="title">
            姓名 <span>*</span>:
          </div>
          <input class="input-content" nz-input  placeholder="Basic usage"  [(ngModel)]="UIModel.maintain.user_name"/>
        </div>
        <label class="cloum-item">
          <div class="title">
            手机号码：<span>*</span>:
          </div>
          <input class="input-content" nz-input type="text" placeholder="Basic usage" [(ngModel)]="UIModel.maintain.user_phone" />
        </label>
      </div>

      <div class="cloum-item">
        <div class="title">
          邮箱<span>*</span>:
        </div>
        <input class="input-content" nz-input  type="email"[(ngModel)]="UIModel.maintain.user_email" />
      </div>

      <div class="cloum-item">
        <div class="title">
          Role:
        </div>
        <nz-select [nzMaxTagCount]="3" [nzMaxTagPlaceholder]="3" nzMode="multiple"
          nzPlaceHolder="Please select" >
          <nz-option *ngFor="let item of []" [nzLabel]="item" [nzValue]="item"></nz-option>
        </nz-select>
      </div>
      <div class="cloum-item">
        <div class="title">
          Base Data:
        </div>
        <nz-select [nzMaxTagCount]="3" [nzMaxTagPlaceholder]="3" nzMode="multiple"
        nzPlaceHolder="Please select" >
        <nz-option *ngFor="let item of []" [nzLabel]="item" [nzValue]="item"></nz-option>
      </nz-select>

      </div>

    </div>
  </div>
</nz-modal>
