<button nz-button nzType="primary" (click)="onCreate()" nzSize="small" [disabled]="disableObj.c" [nzLoading]="cLoading">
  <i nz-icon nzType="snippets" nzTheme="outline"></i>
</button>
<button nz-button nzType="primary" (click)="onUpdate()" nzSize="small" [disabled]="disableObj.u" [nzLoading]="uLoading">
  <i nz-icon nzType="edit" nzTheme="outline"></i>
</button>
<button nz-button nzType="primary" nz-popconfirm nzPopconfirmTitle="Are you sure delete this task?"
  (nzOnConfirm)="onDeleteConfirm()"  nzPopconfirmPlacement="topLeft" nzSize="small" [disabled]="disableObj.d" nzDanger
  [nzLoading]="dLoading">
  <i nz-icon nzType="delete" nzTheme="outline"></i>
</button>
