:host{
  display: flex;
  justify-content: space-around;
  align-items: center;
  button{
    border-radius: 5px;
    min-width: 30px;
  }
  button:not(:hover){
    background-color: unset;
    border: 0px;
    color: #40a9ff;
  }
  button:disabled{
    background-color: unset;
    border: 0px;
    color: #bec5ca;
  }
}
