<div class="page">

  <div class="top-option">
    <admin-app-query (query)="onQuery($event)"></admin-app-query>
    <div class="top-right">
      <button class="add" nz-button nzType="primary" (click)="onUploadList()">
        <i nz-icon nzType="upload" nzTheme="outline"></i>
      </button>

      <button class="add" nz-button nzType="primary" (click)="onCreate()">
        <svg t="1632196096949" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"
          p-id="2890" width="16" height="16">
          <path
            d="M469.333 469.333h-384a42.667 42.667 0 1 0 0 85.334h384v384a42.667 42.667 0 1 0 85.334 0v-384h384a42.667 42.667 0 1 0 0-85.334h-384v-384a42.667 42.667 0 1 0-85.334 0v384z"
            p-id="2891" fill="#ffffff"></path>
        </svg>
      </button>
    </div>
  </div>

  <div class="content">
    <nz-table #sortTable [nzData]="UIModel.listOfData" nzTableLayout="fixed" [nzBordered]="true">
      <thead>
        <tr>
          <th *ngFor="let column of UIModel.listOfColumn" [nzSortFn]="column.compare" [nzWidth]="column.nzWidth"
            [nzSortPriority]="column.priority" [nzAlign]="'center'">
            {{ column.title }}
          </th>
          <th nzWidth='50px'>
            Img
          </th>
          <th class="action" nzWidth='180px' nzRight>
            Actions
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of sortTable.data">
          <td *ngFor="let column of UIModel.listOfColumn" [nzWidth]="column.nzWidth" nzEllipsis
            [nzAlign]="column.nzAlign">
            <ng-container *ngIf="column.key !== 'background_Color';else templatebackground_Color">
              {{data[column.key]}}
            </ng-container>
            <ng-template #templatebackground_Color>
              <input type="color" autocomplete="off" readonly disabled ngModel="red">
            </ng-template>
          </td>
          <td nzWidth='50px'>
            <img nz-image width="20px" height="20px" [nzSrc]="data.img_path? data.img_path:testImg" alt="" />
          </td>
          <td nzWidth='180px' nzRight>
            <admin-app-create-update-delete></admin-app-create-update-delete>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>

<nz-modal [(nzVisible)]="isVisibleNzModal" [nzMaskClosable]="false" [nzMask]="false" nzTitle="Modal" nzOkText="Save"
  nzCancelText="Cancel" (nzOnOk)="onEditSave()" (nzOnCancel)="onEditCancel()" nzWidth="fit-content">
  <div class="nz-modal-content">
    <div>
      <div class="flex space-between">
        <label class="cloum-item wf">
          <div class="title">
            Program Id <span>*</span>:
          </div>
          <input class="input-content" nz-input placeholder="Basic usage" />
        </label>
        <label class="cloum-item wf">
          <div class="title">
            Program Name <span>*</span>:
          </div>
          <input class="input-content" nz-input placeholder="Basic usage" />
        </label>
        <div class="cloum-item program-type">
          <div class="title">
            Program Type <span>*</span>:
          </div>
          <nz-select [(ngModel)]="selectedProvince">
            <nz-option nzValue="APP" nzLabel="APP"></nz-option>
            <nz-option nzValue="API" nzLabel="API"></nz-option>
          </nz-select>
        </div>
      </div>
      <label class="cloum-item">
        <div class="title">
          Url Path<span>*</span>:
        </div>
        <input class="input-content" nz-input placeholder="Basic usage" />
      </label>

      <div class="cloum-item wf">
        <div class="title">
          Select Img<span>*</span>:
        </div>
        <nz-select [(ngModel)]="selectedProvince">
          <nz-option nzValue="APP" nzLabel="APP"></nz-option>
          <nz-option nzValue="API" nzLabel="API"></nz-option>
        </nz-select>
      </div>

      <div class="flex space-between">
        <div class="cloum-item wf">
          <div class="title">
            Background Colors<span>*</span>:
          </div>
          <input style="height: 102px;width: 102px;" type="color" autocomplete="off">
        </div>

        <div class="cloum-item wf">
          <div class="title">
            Select Img<span>*</span>:
            <a id="sss" nz-popconfirm nzPopconfirmTitle="Are you sure delete this task?" nzPopconfirmPlacement="bottom"
            (nzOnConfirm)="confirm()" (nzOnCancel)="onCancel()" nzPopconfirmTrigger="click">
          </a>
          </div>

          <nz-upload nzAction="http://localhost:3000/upload" nzListType="picture-card" [nzLimit]="1" [nzBeforeUpload]="nzBeforeUpload"
            [(nzFileList)]="fileList" [nzShowButton]="fileList.length < 8" [nzPreview]="handlePreview"
            (nzChange)="nzUploadPicture($event)">
            <div class="upload-img-icon">
              <i nz-icon nzType="plus"></i>
              <div style="margin-top: 8px">Upload</div>
            </div>
          </nz-upload>
        </div>

      </div>

    </div>
  </div>
</nz-modal>
