<div>

  <div class="top-option">
    <div class="top-right">
      <button class="add" nz-button nzType="primary" (click)="onCreate()">
        <svg t="1632196096949" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"
          p-id="2890" width="16" height="16">
          <path
            d="M469.333 469.333h-384a42.667 42.667 0 1 0 0 85.334h384v384a42.667 42.667 0 1 0 85.334 0v-384h384a42.667 42.667 0 1 0 0-85.334h-384v-384a42.667 42.667 0 1 0-85.334 0v384z"
            p-id="2891" fill="#ffffff"></path>
        </svg>
      </button>
    </div>
  </div>

  <nz-table #expandTable [nzData]="UIModel.listOfMapData" nzBordered nzShowSizeChanger nzPaginationPosition="top"
    nzTableLayout="fixed">
    <thead>
      <tr>
        <th nzAlign="center">Name</th>
        <th nzWidth="180px" nzAlign="center">Node Id</th>
        <th nzWidth="180px" nzAlign="center">Program Id</th>
        <th nzWidth="180px" nzAlign="center" nzLeft>Actions</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let data of expandTable.data">
        <ng-container *ngFor="let item of UIModel.mapOfExpandedData[data.key]">
          <tr *ngIf="(item.parent && item.parent.expand) || !item.parent">
            <td [nzIndentSize]="item.level! * 20" [nzShowExpand]="!!item.children" [(nzExpand)]="item.expand"
              (nzExpandChange)="collapse(UIModel.mapOfExpandedData[data.key], item, $event)">
              {{ item.node_name }}
            </td>
            <td nzWidth="180px" nzAlign="center">{{ item.node_id }}</td>
            <td nzWidth="180px" nzAlign="center">{{ item.program_id }}</td>
            <td nzWidth="180px" nzLeft>
              <admin-app-create-update-delete [disable]="{c: item.node_type === '0'}" (create)="onCopyCreate(item)" (update)="onUpdate(item)" (delete)="onDelete(item)"></admin-app-create-update-delete>
            </td>
          </tr>
        </ng-container>
      </ng-container>
    </tbody>
  </nz-table>
</div>

<nz-modal [(nzVisible)]="nzModalIsVisible" [nzTitle]="action" (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()">
  <ng-container *nzModalContent>
    <div>
      <div>
        <div>
          Menu Root <span>*</span>:
        </div>
        <nz-tree-select  [nzExpandedKeys]="expandKeys" [nzNodes]="UIModel.nodes" nzShowSearch
          nzPlaceHolder="Please select" [(ngModel)]="UIModel.maintionNode.parent_node_id"></nz-tree-select>
      </div>
      <div>
        <div>
          Menu Name <span>*</span>:
        </div>
        <input nz-input placeholder="Basic usage" [(ngModel)]="UIModel.maintionNode.node_name" />
      </div>
      <div>
        <div>
          Program:
        </div>
        <nz-select [(ngModel)]="UIModel.selectedValue" (ngModelChange)="ngModelChangeProg($event)" nzAllowClear [nzDisabled]="UIModel.maintionNode.children">
          <nz-option *ngFor="let option of UIModel.progamList" [nzValue]="option" [nzLabel]="option.prog_id + '--'+ option.prog_name"></nz-option>
        </nz-select>
      </div>


    </div>
  </ng-container>
</nz-modal>
