:host {
  display: block;
  width: 100vw;
  height: 94vh;
  >div{
    width: calc(100vw - 68px);
  }
  .top-option {
    display: flex;
    height: 50px;
    align-items: center;
    padding: 20px;
    .top-right {
      margin-left: auto;
      display: flex;
      button {
        border-radius: 8px;
        min-width: 40px;
        margin-left: 15px;
        padding: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .content {
    display: block;
    padding: 20px;
    td > img {
      margin-right: 10px;
      border-radius: 5px;
    }
    td > input[type="color"] {
      width: 20px;
      height: 100%;
      padding: 0px;
      border: none;
    }
  }
}


nz-tree-select{
  width: 100%;
}
