<nz-input-group [nzCompact]="true" [nzPrefix]="nzPrefix" [nzSize]="'small'">
  <input type="text" nz-input placeholder="input search text" [(ngModel)]="value" (keydown.enter)="onQuery($event)" />
</nz-input-group>
<ng-template #nzPrefix>
  <i nz-icon nzType="search" nzTheme="outline"></i>
</ng-template>

<button nz-button nzType="primary" nzShape="round" (click)="onQuery($event)">Query</button>
