<div class="page">

  <div class="top-option">
    <admin-app-query (query)="onQuery($event)"></admin-app-query>
    <div class="top-right">
      <button class="add" nz-button nzType="primary" (click)="onCreate()">
        <svg t="1632196096949" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"
          p-id="2890" width="16" height="16">
          <path
            d="M469.333 469.333h-384a42.667 42.667 0 1 0 0 85.334h384v384a42.667 42.667 0 1 0 85.334 0v-384h384a42.667 42.667 0 1 0 0-85.334h-384v-384a42.667 42.667 0 1 0-85.334 0v384z"
            p-id="2891" fill="#ffffff"></path>
        </svg>
      </button>
    </div>
  </div>

  <div class="content">
    <nz-table #sortTable [nzData]="UIModel.listOfData" nzTableLayout="fixed" [nzBordered]="true">
      <thead>
        <tr>
          <th *ngFor="let column of UIModel.listOfColumn" [nzSortFn]="column.compare" [nzWidth]="column.nzWidth"
            [nzSortPriority]="column.priority" [nzAlign]="'center'">
            {{ column.title }}
          </th>
          <th class="action" nzWidth='180px' nzRight>
            Actions
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of sortTable.data">
          <ng-container *ngFor="let column of UIModel.listOfColumn">
            <ng-container *ngIf=" column.key === 'node_id' ||  column.key === 'node_name';else templateName">
              <td *ngIf="data.rowSpan" [rowSpan]="data.rowSpan" [nzAlign]="column.nzAlign">
                {{data[column.key]}}
              </td>
            </ng-container>
            <ng-template #templateName>
              <td [nzAlign]="column.nzAlign">
                {{data[column.key]}}
              </td>
            </ng-template>
          </ng-container>
          <td nzWidth='180px' nzRight>
            <admin-app-create-update-delete [disable]="{d: data.prog_id.length === 0}" (create)="onCopyCreate(data)"
              (update)="onUpdate(data)" (delete)="onDelete(data)"></admin-app-create-update-delete>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>

<nz-modal [(nzVisible)]="isVisibleNzModal" [nzMaskClosable]="false" [nzMask]="false" nzTitle="Modal" nzOkText="Save"
  nzCancelText="Cancel" (nzOnOk)="onSave()" (nzOnCancel)="onCancel()" nzWidth="fit-content">
  <div class="nz-modal-content">
    <div class="cloum-item wf">
      <div class="title">
        Page Name <span>*</span>:
      </div>
      <nz-select [(ngModel)]="UIModel.maintion.APP" [disabled]="action ==='Update'" (ngModelChange)="ngChangeAPP($event)">
        <nz-option *ngFor="let option of  UIModel.pageList" [nzLabel]="option.node_name" [nzValue]="option">
        </nz-option>
      </nz-select>
    </div>
    <label class="cloum-item wf">
      <div class="title">
        Page Id <span>*</span>:
      </div>
      <input class="input-content" [(ngModel)]="UIModel.maintion.node_id" nz-input disabled />
    </label>

    <div class="cloum-item wf">
      <div class="title">
        API    Id <span>*</span>:
      </div>
      <nz-select [(ngModel)]="UIModel.maintion.API"  (ngModelChange)="ngChangeAPI($event)">
        <nz-option *ngFor="let option of  UIModel.programApiListS" [nzLabel]="option.prog_id +'--' +option.prog_name" [nzValue]="option">
        </nz-option>
      </nz-select>
    </div>

    <div class="cloum-item wf">
      <div class="title">
        API Name <span>*</span>:
      </div>
      <input class="input-content" [(ngModel)]="UIModel.maintion.prog_name" nz-input disabled />
    </div>

  </div>
</nz-modal>
