:host {
  display: block;
  .top-option {
    display: flex;
    height: 50px;
    align-items: center;
    padding: 20px;
    .top-right {
      margin-left: auto;
      display: flex;
      button {
        border-radius: 8px;
        min-width: 40px;
        margin-left: 15px;
        padding: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .content {
    display: block;
    padding: 20px;
    td > img {
      margin-right: 10px;
      border-radius: 5px;
    }
    td > input[type="color"] {
      width: 20px;
      height: 100%;
      padding: 0px;
      border: none;
    }
  }
}

:host::ng-deep {
  &.ant-table-thead > tr > th,
  &.ant-table tfoot > tr > th,
  &.ant-table-tbody > tr > td,
  &.ant-table tfoot > tr > td {
    padding: 4px;
    text-align: center;
  }

  &.ant-table-thead > tr > th,
  &.ant-table tfoot > tr > th {
    // height: 35px;
  }

  &.ant-table-tbody > tr > td,
  &.ant-table tfoot > tr > td {
    height: 120px;
    padding: 2px 8px;
  }
}

:host::ng-deep .ant-table-column-sorters {
  padding: unset;
}

.nz-modal-content {
  width: 700px;
}

.flex {
  display: flex;
  > .cloum-item:first-child {
    margin-right: 20px;
  }
  .cloum-item {
    width: 50%;
  }
}

.cloum-item {
  display: block;
  margin-bottom: 20px;
  .title {
    height: 28px;
    line-height: 28px;
    font-weight: bolder;
    span {
      color: #e6a23c;
    }
  }
}

.prog-td {
  min-width: 400px;
  padding-right: 0px !important;
  .prog-td-content {
    padding-right: 5px;
    vertical-align: top;
    max-height: 120px;
    overflow-y: auto;
  }
}
.prog-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 5px;
  border: 1px inset #ebebeb;
  border-radius: 5px;
  height: 24px;
  padding: 0px 5px;
  .checkox {
    margin-left: 15px;
    display: flex;
  }
}

:host::ng-deep .ant-collapse > .ant-collapse-item > .ant-collapse-header {
  padding: 1px 16px;
}

.position-ab {
  position: relative;
  nz-collapse {
    position: absolute;
    top: 4px;
    left: 8px;
    right: 8px;
  }
}

.update{
  height: 150px;
  overflow-y: auto;
}
