<div class="page">

  <div class="top-option">
    <admin-app-query (query)="onQuery($event)"></admin-app-query>
    <div class="top-right">
      <!-- <button class="add" nz-button nzType="primary" (click)="onUploadList()">
        <i nz-icon nzType="upload" nzTheme="outline"></i>
      </button> -->

      <button class="add" nz-button nzType="primary" (click)="onCreate()">
        <svg t="1632196096949" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"
          p-id="2890" width="16" height="16">
          <path
            d="M469.333 469.333h-384a42.667 42.667 0 1 0 0 85.334h384v384a42.667 42.667 0 1 0 85.334 0v-384h384a42.667 42.667 0 1 0 0-85.334h-384v-384a42.667 42.667 0 1 0-85.334 0v384z"
            p-id="2891" fill="#ffffff"></path>
        </svg>
      </button>
    </div>
  </div>

  <div class="content">
    <nz-table #sortTable [nzData]="UIModel.listOfData" nzTableLayout="fixed" [nzBordered]="true">
      <thead>
        <tr>
          <ng-container *ngFor="let column of UIModel.listOfColumn">
            <th  *ngIf="column.key ==='prog_list';else tempalteth" [nzAlign]="'center'" [colspan]="2">
              {{ column.title }}
            </th>
            <ng-template #tempalteth>
              <th [nzSortFn]="column.compare" style="width: 180px;" [nzSortPriority]="column.priority"
                [nzAlign]="'center'">
                {{ column.title }}
              </th>
            </ng-template>
          </ng-container>


          <th class="action"  style="width: 180px;" nzRight>
            Actions
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of sortTable.data">
          <ng-container *ngFor="let column of UIModel.listOfColumn">
            <ng-container *ngIf="column.key === 'prog_list';else templateName">
              <td class="prog-td">
                <div class="prog-td-content">
                  <div *ngFor="let item of data.APP" class="prog-item">
                    <div class="title"> {{item.prog_id}}</div>
                    <div class="checkox">
                      <label nz-checkbox [(ngModel)]="item.read_auth">Read</label>
                      <label nz-checkbox [(ngModel)]="item.create_auth">Create</label>
                      <label nz-checkbox [(ngModel)]="item.update_auth">Update</label>
                      <label nz-checkbox [(ngModel)]="item.delete_auth">Delete</label>
                    </div>
                  </div>
                </div>
              </td>
              <td class="prog-td">
                <div class="prog-td-content">
                  <div *ngFor="let item of data.API" class="prog-item">
                    <div class="title">{{item.prog_id}}</div>
                    <div class="checkox">
                      <label nz-checkbox [(ngModel)]="item.read_auth">Read</label>
                      <label nz-checkbox [(ngModel)]="item.create_auth">Create</label>
                      <label nz-checkbox [(ngModel)]="item.update_auth">Update</label>
                      <label nz-checkbox [(ngModel)]="item.delete_auth">Delete</label>
                    </div>
                  </div>
                </div>
              </td>
            </ng-container>
            <ng-template #templateName>
              <td  style="width: 180px;" nzEllipsis [nzAlign]="column.nzAlign">
                {{data[column.key]}}
              </td>
            </ng-template>
          </ng-container>

          <td  style="width: 180px;" nzRight>
            <admin-app-create-update-delete [disable]="{}" (create)="onCopyCreate(data)" (update)="onUpdate(data)"
              (delete)="onDelete(data)"></admin-app-create-update-delete>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>


<nz-modal [(nzVisible)]="isVisibleNzModal" [nzMaskClosable]="false" [nzMask]="false" nzTitle="Modal" nzOkText="Save"
  nzCancelText="Cancel" (nzOnOk)="handleOk()" (nzOnCancel)="handleCancel()" nzWidth="fit-content">
  <div class="nz-modal-content">
    <label class="cloum-item">
      <div class="title">
        Role Name <span>*</span>:
      </div>
      <input class="input-content" nz-input placeholder="Basic usage" [disabled]="action ==='Update'"
        [(ngModel)]="UIModel.maintain.role_name" />
    </label>
    <label class="cloum-item">
      <div class="title">
        Role Description
      </div>
      <input class="input-content" nz-input [(ngModel)]="UIModel.maintain.role_description" placeholder="Basic usage" />
    </label>
    <div class="cloum-item" *ngIf="action ==='Update'">
      <div class="title">
        Program APP & Auth:
      </div>
      <div>
        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a person" [(ngModel)]="selectedValue">
          <nz-option *ngFor="let item of APIlistS" [nzLabel]="item" [nzValue]="item"></nz-option>
        </nz-select>
      </div>
      <div class="prog-td-content update">
        <div *ngFor="let item of UIModel.maintain.APP" class="prog-item">
          <div class="title"> {{item.prog_id}}</div>
          <div class="checkox">
            <label nz-checkbox [(ngModel)]="item.read_auth">Read</label>
            <label nz-checkbox [(ngModel)]="item.create_auth">Create</label>
            <label nz-checkbox [(ngModel)]="item.update_auth">Update</label>
            <label nz-checkbox [(ngModel)]="item.delete_auth">Delete</label>
          </div>
        </div>
      </div>
    </div>

    <div class="cloum-item" *ngIf="action ==='Update'">
      <div class="title">
        Program API & Auth:
      </div>
      <div>
        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a person" [(ngModel)]="selectedValue">
          <nz-option *ngFor="let item of APIlistS" [nzLabel]="Jack" [nzValue]="item"></nz-option>
        </nz-select>
      </div>
      <div class="prog-td-content update">
        <div *ngFor="let item of UIModel.maintain.API" class="prog-item">
          <div class="title"> {{item.prog_id}}</div>
          <div class="checkox">
            <label nz-checkbox [(ngModel)]="item.read_auth">Read</label>
            <label nz-checkbox [(ngModel)]="item.create_auth">Create</label>
            <label nz-checkbox [(ngModel)]="item.update_auth">Update</label>
            <label nz-checkbox [(ngModel)]="item.delete_auth">Delete</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</nz-modal>
