/* You can add global styles to this file, and also import other style files */
 @import './assets/style/ng-zorro-antd.css';


#admin-app-root {
  height: 94vh;
  background-color: #c0c4cc;
  padding: 0px 24px  10px 24px;
  .page {
    background-color: #ffffff;
    height: calc(94vh - 10px);
    border-radius: 8px;
  }
}
